h1.uk-heading-bullet{margin: 20px 0 5px 25px; color: var(--text-color);}
span.uk-text-muted{margin: 10px 0 0 25px;}
h1#top_products{color: var(--primary-color); font-weight: 400;}
div#categories_filter{background-color: var(--body-color);}
div#categories_filter div#categories{margin-top: 30px; margin-bottom: 20px;}
div#categories_filter div#categories ul li{cursor: pointer;}
div#categories_filter div#categories div.uk-card{background-color: transparent; box-shadow: none;}
div#categories_filter div#categories div.uk-card-body{padding: 20px 0px 0px 0px !important;}
div#categories_filter div#categories div.uk-card-footer{border: none;}
div#categories_filter div#categories div.uk-card-footer span{color: var(--text-color);}
div#categories_filter div#categories img{height: 100px; width: auto;}
div#categories_filter ul#products{margin: 10px 30px 10px 30px !important;}
div#categories_filter div#search{margin: 0px 30px 30px 30px !important;}
div#categories_filter div#search form{width: 50%;}
ul#products li div.uk-card{width: 175px !important; background-color: var(--nav-color) !important; cursor: pointer; margin: 25px !important;}
ul#products li div.uk-card h4{color: var(--text-color);}
ul#products li div.uk-card p{color: #999 !important;}
ul#products li div.uk-card.uk-card-body{padding: 10px 5px !important;}
ul#products li div.uk-card.uk-card-body img{width: 150px !important; aspect-ratio: 1 / 1 !important; object-fit: cover !important;}
ul#products li div.uk-card.uk-card-body h5{font-weight: bold; color: #CC1C39; bottom: 0;}
ul#products li div.uk-card.uk-card-body h6{font-weight: bold; color: #999; bottom: 0;}
ul#products li div.uk-card.uk-card-body span.favorite-icon{position: relative; margin-top: 4px; margin-right: 4px;}
ul#products li div.uk-card.uk-card-body span.favorite-icon svg .favorite-heart{fill: none; stroke: var(--text-color); stroke-width: 1.03;}
ul#products li div.uk-card.uk-card-body span.favorite-icon:hover svg .favorite-heart{fill: #CC1C39; stroke: #CC1C39;}